:root {
  --bg-color-primary: #8685a2;
  --bg-color-secondary: #c1b9d3;
  --color-text: #411583;
  --bg-color-message: #ececf3;
}

@font-face {
  font-family: "Roboto Flex";
  src: url(./RobotoFlex.ttf);
}

* {
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  font-family: "Roboto Flex";
  min-height: 100vh;
  background-color: var(--bg-color-secondary);
  display: grid;
  place-content: center;
}

.music {
  width: 350px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  /* border-radius: 8px; */
  /* overflow: hidden; */
}

.atx-box {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 15px 12px;

  position: relative;
}

.atx-box::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.atx-box .icon-list-music{
  align-self: flex-end;
  font-size: 1.5rem;
  opacity: .7;
  margin-top: 10px;
  cursor: pointer;

  position: relative;
}

.atx-box .list-music {
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 8px;
  z-index: 10;
  width: max-content;
  font-size: .9rem;
  list-style: none;
  background-color: #fff;
  color: #2b2b2b;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3);

  transition: .3s ease;
}

.atx-box .list-music .list-music__item {
  padding: 4px 10px;
}
.atx-box .list-music .list-music__item:hover{
  cursor: pointer;
  background-color: var(--bg-color-secondary);
}
.atx-box .time {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  z-index: 20;
}
.control-box {
  text-align: center;
  margin-bottom: 1.5rem;
}
.control-box .control__music-name {
  margin-bottom: 0.5rem;
}
.control-box .control__music-author {
  font-size: 0.9rem;
  color: #8685a2;
  margin: 0.5rem 0 2rem 0;
}

.control-box .buttons-controls {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
}
.control-box .buttons-controls .button-control {
  cursor: pointer;
}
.control-box .buttons-controls .button-control #btn-pause:disabled,
.control-box .buttons-controls .button-control #btn-play:disabled {
  color: #8685a2;
}
.status-box .status-message {
  background-color: var(--bg-color-message);
  color: var(--color-text);
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0.5rem;
}
.status-box .progress {
  width: 100%;
  height: 15px;
  background-color: var(--bg-color-primary);
  position: relative;
  transition: 1s ease;
}

.status-box .progress .progress__percentage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-text);
  transition: .4s ease;
}

/* Toogle buttons */
.hidden {
  display: none;
}

.hidden-list-music {
  opacity: 0;
  transform: scale(0);
  
}
